.card {
  max-width: 308px;
  margin: 0 5px;
}

.card:hover {
  background: var(--restaurant__card-hover);
  transition: 0.5s;
}

.card__img {
  max-width: 308px;
  transition: 0.5s;
  object-fit: cover;
}

.card__img:hover {
  padding-top: 5px;
}

.card__name {
  color: var(--title-of-restaurant);
  line-height: 24px;
  display: block;
  padding-top: 16px;
}

.card__name_uppercase {
  text-transform: uppercase;
}

.card__kitchen {
  font-size: 14px;
  line-height: 21px;
  color: var(--restaurant-kitchen);
  display: block;
  padding-top: 4px;
}

.card__delivery {
  color: var(--title-of-restaurant);
  font-size: 13px;
  line-height: 21px;
  display: block;
  padding: 4px 0 20px;
}
