.main-page {
  max-width: 1124px;
  margin: 0 auto;
}

.main-page_wrap {
  max-width: 956px;
  margin: 0 auto;
}

.main-page__title {
  font-size: 22px;
  line-height: 34px;
  color: var(--title-of-restaurant);
  margin: 56px 0 16px;
}
