.authorization__buttons {
  width: 176px;
  display: flex;
  justify-content: space-between;
}

.button-sign__in {
  border: 1px solid var(--border-location-address);
  border-radius: 2px;
  color: var(--title-of-restaurant);
  line-height: 24px;
  font-size: 13px;
  font-weight: bold;
  background: var(--color-white);
  padding: 7px 20px;
  transition: 0.5s;
  margin-right: 15px;
}

.button-sign__on {
  background: var(--background-fotter);
  color: var(--color-white);
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  border-radius: 2px;
  border: transparent;
  padding: 8px 17px;
  transition: 0.5s;
}

.button-sign__on:hover {
  background-color: var(--background-registration);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-sign__in:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.button-sign__in:focus,
.button-sign__on:focus {
  outline: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
