.search {
  width: 100%;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  margin-top: 110px;
  display: flex;
  align-items: center;
}

.search-label:hover {
  cursor: pointer;
}

.search-input {
  padding: 8px 0 16px 8px;
  border: transparent;
  outline: 0;
  width: 100%;
}
